snippet card
	<div class="card">
		<div class="card-body">
			${1}
		</div>
	</div>

snippet carddeck
	<div class="card-deck">
		<div class="card">
			<div class="card-body">
				${1}
			</div>
		</div>
	</div>
