snippet rrh
	require "rails_helper"
snippet feat
	feature "${1}" do
	  scenario "${2}" do
	    ${3}
	  end
	end
snippet crud
	def index
	end

	def show
	end

	def new
	end

	def create
	end

	def update
	end

	def destroy
	end
